---
layout: default
title: Home
---
<h2>The Logic Group at GU</h2>

<p>The logic group is part of the <a href="https://www.gu.se/flov">Department of Philosophy, Linguistics and Theory of Science</a> at the University of Gothenburg.</p>

<p>Information about our activities can be found from the links to the left.</p>

<p>And a link to the <em>internal</em> <a href="https://www.gu.se/en/flov/our-research/research-areas/research-in-logic-and-mathematical-methodology">logic group GU page</a></p>


<p>Finally, sign up to our <a href="https://listserv.gu.se/sympa/subscribe/logic">mailing list</a> to stay up to date.</p>

<h2>Upcoming Seminars<a name="seminars"></a></h2>

<ul class="seminar">
  {% for seminar in site.seminars %}
    <li>
      <span class="seminar-speaker">{{ seminar.speaker }}</span> (<span class="seminar-affil">{{ seminar.affil }}</span>) – <span class="seminar-title">{{ seminar.title }}</span>
      <div class="seminar-date">{{ seminar.date | date_to_string }}</div>
      <div class="abstract">{{ seminar.excerpt }}
      {% if seminar.excerpt != seminar.content %}
        <p><a href="{{ seminar.url }}">(&#8230; read full abstract &#8230;)</a></p>
      {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>

<p>Past seminars are in the <a href="{% link seminars.md %}">archive</a>.</p>

<h3>Contact</h3>

<p>Under construction</p>
