{%- comment -%}PREAMBLE{%- endcomment -%}
{% assign seminar = include.talk %}
{%- comment -%}Seminar header{%- endcomment -%}
{% capture header %}{{ seminar.speaker | append: '-' | append: seminar.title | slugify }}{% endcapture %}
{%- comment -%}date-time presentation {%- endcomment -%}
{%- capture datetime -%}
  {{ seminar.date | date: "%A, %d %B %Y at %H:%M <span>(%Z)</span>" }}
{%- endcapture -%}
{%- comment -%}Prepare abstract{%- endcomment -%}
{% assign abstract = seminar.content %}
{%- comment -%}END PREAMBLE{%- endcomment -%}
{%- comment -%}POSTAMBLE{%- endcomment -%}
<section class="seminar" id="{{ header }}">
  <header class="seminar-lead">
    {%- if include.public -%}
      <div>Public Lindström Lecture</div>
    {%- else -%}
      <div>Research Lindström Lecture</div>
    {%- endif -%}
    <time class="seminar-date" datetime="{{ seminar.date }}">{{ datetime }}</time>
    <h3 class="seminar-speaker">
      {{ seminar.speaker }}
      {% if seminar.affil -%}
        <span class="seminar-affil">({{ seminar.affil }})</span>
      {%- endif -%}
      {% if seminar.title != "" %} <em class="seminar-title">{{ seminar.title }}</em>
      {% endif %}
    </h3>
  </header>
  <div class="abstract">
    {{ abstract }}
  </div>
</section>